manifest {
    description = 'Cell Ranger Genome Build'
    mainScript = 'main.nf'
}

params {

    // Slurm Parameters 

    userID = "c.c1430759"
    userProjectCode = "scw1557"

    sleepTimeStart = '0m'
    sleepTimeEnd = '0m'
    retries = '5'

  executor {
    queueSize = 40
    submitRateLimit = '1 sec'
  }

    // Basic zUMIs options

    // Project Information

    projectName = "zUMIs"
    projectDir = "/scratch/${userID}/scRNAseq-zUMIs/"
    
    // Input/Output/Resources

    binDir = "bin/"
    inputDir = "input/"
    outputDir = "output/"
    resourcesDir = "resources/"
    
    input_csv = "${params.projectDir}${inputDir}input.csv"
    
    read_length = 90

    genomeName = "Homo_sapiens.GRCh38"
    fastaName = "Homo_sapiens.GRCh38.dna_sm.primary_assembly.fa"
    gtfName = "Homo_sapiens.GRCh38.104.chr.gtf"
    genome = "/home/${userID}/resources/genomes/human/hg38/${fastaName}.gz"
    gtf = "/home/${userID}/resources/genomes/human/hg38/${gtfName}.gz"

    // Advanced zUMIs options
    
    // Reference genome options

    exon_extension = "FALSE"
    extension_length = 0
    scaffold_length_min = 0

    // Filter Cutoffs

    // Barcode Filter
    BC_num_bases = "1"
    BC_phred = "20"

    // UMI Filter
    UMI_num_bases = "1"
    UMI_phred = "20"

    // Barcode Options

    barcode_file = ""
    barcode_num = ""
    barcode_automatic = "TRUE"
    barcode_sharing = ""
    barcode_binning = 1
    n_reads_per_cell = 100
    demultiplex = "FALSE"

    // Counting Options

    include_introns = "TRUE"
    intron_probability = "FALSE"
    downsampling = 0
    strand = 1
    ham_dist = 1
    velocyto = "FALSE"
    primary_hit = "TRUE"
    multi_overlap = "FALSE"
    fraction_overlap = 0
    two_pass = "TRUE"

    // Mapping

    additional_STAR_params = "NONE"
    additional_fq = "NONE"

    // Statistical Outputs and Plots

    make_stats: "TRUE"
    
    // Memory/Threading

    num_threads = 32
    mem_limit = 0

}

process {
    executor = "slurm"
    queue = "htc"
    clusterOptions = "-A ${params.userProjectCode}"
}

workDir = "${params.projectDir}work"

process.container = 'zUMIs.sif'
singularity.enabled = true