manifest {
    description = 'Cell Ranger Genome Build'
    mainScript = 'main.nf'
}

params {

    // Slurm Parameters 

    userID = "c.c1430759"
    userProjectCode = "scw1557"

    sleepTimeStart = '0m'
    sleepTimeEnd = '0m'
    retries = '5'

    executor {
        queueSize = 40
        submitRateLimit = '1 sec'
    }

// Basic zUMIs options

    // Project Information

    projectName = ""
    projectDir = "/scratch/${userID}/scRNAseq/"

    // Input/Output/Resources

    binDir = "bin/"
    inputDir = "input/"
    outputDir = "output/"
    resourcesDir = "resources/"
    
    input_csv = ""
    
    read_length = 100

    genomeName = "Homo_sapiens.GRCh38"
    fastaName = "Homo_sapiens.GRCh38.dna_sm.primary_assembly.fa"
    gtfName = "Homo_sapiens.GRCh38.104.chr.gtf"
    genome = "/home/${userID}/resources/genomes/human/hg38/${genomeName}.gz"
    gtf = "/home/${userID}/resources/genomes/human/hg38/${gtfName}.gz"

// Advanced zUMIs options

    // Filter Cutoffs

        // Barcode Filter
    BC_num_bases = 1
    BC_phred = 20

        // UMI Filter
    UMI_num_bases = 1
    UMI_phred = 20

    // Barcode Options

    barcode_file = null
    barcode_num = null
    barcode_automatic = "yes"
    barcode_sharing = null
    barcode_binning = 1
    n_reads_per_cell = 100
    demultiplex = "no"

    // Counting Options

    include_introns = "yes"
    intron_probability = "no"
    downsampling = 0
    strand = 0
    ham_dist = 0
    velocyto = "no"
    primary_hit = "yes"
    multi_overlap = "no"
    fraction_overlap = 0
    two_pass = "yes"

    // Statistical Outputs and Plots

    make_stats: yes
    
    // Memory/Threading

    num_threads = ""
    mem_limit = 0

}

process {
    executor = "slurm"
    queue = "htc"
    clusterOptions = "-A ${params.userProjectCode}"
}